<!--
    Referencia para o frameword de graficos 
    https://echarts.apache.org/en/index.html 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chart Example</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <div id="main" style="width: 1500px;height:300px;"></div>
    <div id="main2" style="width: 1500px;height:300px;"></div>
    <div id="main3" style="width: 500px;height:300px;"></div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var data = /*[[${data}]]*/ [];
        var chart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: 'Sample Chart'
            },
            xAxis: {
                type: 'category',
                data: ['BD', 'Bio', 'Esp', 'ED', 'Filo', 'Geo', 'IT', 'IMC', 'LPII', 'Emp', 'PTNT', 'RCII', 'SMS', 'SO', 'ST']
            },
            yAxis: {

                type: 'value'

            },
            series: [{
                name: 'Values',
                data: data,
                type: 'line'
            }]
        };
        chart.setOption(option);

        var data = /*[[${data}]]*/ [];
        var chart2 = echarts.init(document.getElementById('main2'));
        var option2 = {
            title: {
                text: 'Sample Chart'
            },
            xAxis: {
                type: 'category',
                data: ['BD', 'Bio', 'Esp', 'ED', 'Filo', 'Geo', 'IT', 'IMC', 'LPII', 'Emp', 'PTNT', 'RCII', 'SMS', 'SO', 'ST']
            },
            yAxis: {

                type: 'value'

            },
            series: [{
                name: 'Values',
                data: data,
                type: 'bar'
            }]
        };
        chart2.setOption(option2);

        var data = /*[[${data}]]*/ [];
        var chart3 = echarts.init(document.getElementById('main3'));
        var option3 = {
            title: {
                text: 'Sample Chart'
            },
            xAxis: {
                type: 'category',
                data: ['BD', 'Bio', 'Esp', 'ED', 'Filo', 'Geo', 'IT', 'IMC', 'LPII', 'Emp', 'PTNT', 'RCII', 'SMS', 'SO', 'ST']
            },
            yAxis: {

                type: 'value'

            },
            series: [{
                name: 'Values',
                data: data,
                type: 'pie'
            }]
        };
        chart3.setOption(option3);

        /*]]>*/
    </script>
</body>
</html>
